.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: whitesmoke;
    
    .sidenav-content {
        width: 100%;
        background-color: whitesmoke;
    }

    .toolbar {
        position: sticky;
        top: 0;
        z-index: 3;
    
        .spacer {
            flex: 1 1 auto;
        }
    
    }
    
    .sidenav {
        padding: 20px;
    }
    
    .user {
        font-size: 1em;
        font-weight: 300;
        margin-right: 10px;
        color: white;
    }
}
    